<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="conn" connectionString="Data Source=.\sqlexpress;Initial Catalog=ChurchPlayVideoDB;Persist Security Info=True;User ID=sa;Password=321456852"  providerName="System.Data.SqlClient"  />
   
  </connectionStrings>
</configuration>